{% extends "base.html" %}
{% block title %}{{ category.name }} &middot; {{ STORE_NAME }}{% endblock %}
{% block meta_description %}{{ category.description or ('Shop ' ~ category.name ~ ' at ' ~ STORE_NAME ~ '.') }}{% endblock %}
{% block content %}
<div class="container section">
  <ol class="breadcrumbs">
    <li><a href="{{ url_for('main.index') }}">Home</a></li>
    <li><a href="{{ url_for('shop.index') }}">Shop</a></li>
    <li aria-current="page">{{ category.name }}</li>
  </ol>
  <section class="category-hero">
    <div>
      <h1>{{ category.name }}</h1>
      {% if category.description %}<p>{{ category.description }}</p>{% endif %}
    </div>
    {% if category.image %}<img class="ch-img" src="{{ category.image }}" alt="" width="220" height="220">{% endif %}
  </section>
  <div class="shop-layout">
    {% include "shop/_filters.html" %}
    <div class="shop-main">
      {% include "shop/_toolbar.html" %}
      {% include "shop/_listing.html" %}
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}<script type="module" src="{{ asset('js/filters.js') }}"></script>{% endblock %}
