{% extends "base.html" %}
{% block title %}Shop all products &middot; {{ STORE_NAME }}{% endblock %}
{% block meta_description %}Browse every product at {{ STORE_NAME }}: electronics, wearables, home essentials and more.{% endblock %}
{% block content %}
<div class="container section">
  <ol class="breadcrumbs">
    <li><a href="{{ url_for('main.index') }}">Home</a></li>
    <li aria-current="page">Shop</li>
  </ol>
  <div class="listing-head"><h1>All products</h1></div>
  <div class="shop-layout">
    {% include "shop/_filters.html" %}
    <div class="shop-main">
      {% include "shop/_toolbar.html" %}
      {% include "shop/_listing.html" %}
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}<script type="module" src="{{ asset('js/filters.js') }}"></script>{% endblock %}
